body {
    background: linear-gradient(to left, #020214, rgb(7, 5, 53));
    background: cover;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: rgb(230, 219, 219);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/* --------------------NAV BAR------------------ */
.navbar img {
    width: 7rem;
    height: auto;
}

/* -----------------TABLA------------------ */
.border-tabla {
    padding: 0.5rem;
    border: 1px solid rgb(230, 219, 219, 0.2);
    border-radius: 10px;
}

caption {
    color: #fff;
}

table {
    color: #fff;
    font-size: 1em;
    /* table-layout: fixed;
    border-collapse: collapse; */
}

thead {
    background-color: rgba(36, 36, 37, 0.4);
}

th {
    padding: 1.2em 1em;
    font-weight: 700;
}
th {
    border-bottom: 1px solid rgba(211, 205, 209, 0.4);
}

td {
    padding: 1em;
    border-bottom: 1px solid rgba(211, 205, 209, 0.4);
}

tbody tr:hover {
    background: rgba(58, 58, 61, 0.466);
}

/* --------------------BOTONES/ICONOS------------------ */

.btn-validado {
    background: transparent;
    border: none;
    border-radius: 0.31em;
    font-size: 1.16em;
    transition: 0.3s ease all;
    padding: 0.08em 0.5em;
    margin: 1px;
}
.btn-validado i {
    color: rgb(8, 155, 45);
    pointer-events: none;
}

.btn-no-validado {
    background: transparent;
    border: none;
    border-radius: 0.31em;
    font-size: 1.16em;
    transition: 0.3s ease all;
    padding: 0.08em 0.5em;
    margin: 1px;
}
.btn-no-validado i {
    color: #cc105f;
    pointer-events: none;
}

.btn-opcion-borrar {
    background: transparent;
    border: none;
    border-radius: 0.31em;
    color: #e7e0e0;
    font-size: 1.16em;
    transition: 0.3s ease all;
    padding: 0.08em 0.5em;
    margin: 1px;
}

.btn-opcion-borrar i {
    pointer-events: none;
}

.btn-opcion-borrar:hover {
    background: rgb(204, 194, 194);
    color: #ff0000;
}

/* --------------------FOOTER-------------- */
.social-icons-redes i {
    color: rgb(201, 178, 178);
    font-size: 1.3rem;
    margin: 5px;
}

h6 {
    color: rgb(201, 178, 178);
    margin: 5px;
    font-size: 0.8rem;
}

.enlances-footer a {
    color: rgb(201, 178, 178);
    margin: 10px;
    font-size: 0.8rem;
    text-decoration: none;
}

/* -----------MODAL----------------- */
.modal-content {
    background: transparent;
    border-bottom: none;
    border: none;
}
.modal-body {
    position: relative;
    height: 15rem;
    background: #ffffff;
    border-radius: 10px;
    border: none;
}

.modal-body i {
    position: absolute;
    bottom: 13rem;
    left: 13rem;
    border-radius: 10px;
    width: 6rem;
    height: max-content;
    background: #ffb200;
    color: #fff;
    font-size: 5rem;
}

.modal-body button {
    border: 2px solid #ffb200;
    border-radius: 10px;
    height: 3em;
    font-weight: 600;
    color: #ffb200;
    background: #fff;
}
.modal-body button:hover {
    border: 2px solid #ffb200;
    border-radius: 10px;
    background: #ffb200;
    height: 3em;
    font-weight: 600;
    color: #ffffff;
}
.modal-body .advertencia {
    color: #020214;
    font-weight: 700;
    font-size: 2rem;
}

.modal-body .advertencia-contenido {
    color: #545458;
    font-size: 1rem;
}

.modal-footer {
    background: blue;
    border-top: none;
}
/* ----------------PAGINACION------------ */

.tabla-contenedor {
    border: 1px solid #545458;
    width: 100%;
    justify-content: center;
    padding: 2em;
}

.table-responsive {
    padding: 1em;
}

@media screen and (max-width: 576px) {
    .modal-body i {
        display: none;
    }
}
