.navbar-toggler-icon {
    background-color: #080f28;
}
/* background: #8da0bc; letras costado  */


body{
    background-color: #080f28;
}


/* nav bar  */

.bg-navbar{
    background:  #202649 ;

}

.navbar-nav {
    font-size: 1.1em;
}
.nav-link{
    color: azure;
    
}

.nav-link:hover{
    color: #8da0bc;
}

.navbar-toggler{
    border: 1px solid #8da0bc;
    color: #8da0bc;
}



.navbar-toggler span{
    color: aqua;
}

.navbar-brand img{
    height: 25%;
    width: 7rem;
}



.ancho {
    width: 90%;
}

.form-search {
    position: relative;
}

.form-search .btn{
    width: 3rem;
    height: 2.4rem;
    position: absolute;
    right: .2em;
    bottom: 0.0em;
    z-index: 100;
    background: #8da0bc;
    border-radius:  0% 45% 45% 0%;
}

.btn-outline-light{
    border: transparent;
}

.form-search i{
    /* falta modificar para lograr lo deseado  */
    font-size: .9rem;
    background: transparent;
    color: #080f28;
}


.form-search input{
    border-radius: 1.2em;
}


/* botones  */


.btn-opciones {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    color: #fff;
    font-size: 1.16em;
    transition: .3s ease all;
    padding: 0.08em 0.5em;
    margin: 1px;
}

.btn-destacado {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    color: #fff;
    font-size: 1.16em;
    transition: .3s ease all;
    padding: 0.08em 0.5em;
    margin: 1px;
}

.btn-destacado .bi-star-fill{
    color: #cfe417;
}

.btn-no-destacado {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    color: #fff;
    font-size: 1.16em;
    transition: .3s ease all;
    padding: 0.08em 0.5em;
    margin: 1px;
}

.btn-publicado {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    color: #54f095;
    font-size: 1.16em;
    transition: .3s ease all;
    padding: 0.08em 0.5em;
    margin: 1px;
}

.btn-publicado:hover{
    background: #54f095;
    color: #000;
}

.btn-no-publicado {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    color: #d3226c;
    font-size: 1.16em;
    transition: .3s ease all;
    padding: 0.08em 0.5em;
    margin: 1px;
}

.btn-no-publicado:hover {
    background: #d3226c;
    color: #000;
}

.btn-opciones:hover {
    background: #fff;
    color: #000;
}

.boton-add{
    background: #202649;
    border: none;
    border-radius: 0.6em;
    color: #fff;
    font-size: 1em;
    padding: 0.6rem 1.3rem;
    transition: .3s ease all;
    margin: 1px;
}

.boder-contenedor {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 20px;
}

.boton-add i{
    margin-right: 0.4em;
}

.boton-add:hover{
    background: #ffffff;
    color: #000;
}
footer{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(50, 58, 58);
    height: 4rem;
    color: #fff;
}