body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    background-image: url(/img/e837f5481a13a1f0e1e46908f78c6fbc.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color: rgb(230, 219, 219);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding-bottom: 1em;
    min-height: 100vh;
    position: relative;
}

h1 {
    font-size: 3em;
    color: #fdfcfc;
}

.error-container {
    margin-top: 30px;
}
.error-container span {
    display: block;
}

.error-number {
    font-size: 4em;
    font-weight: bold;
    color: #fcf8f8;
}

.error-message {
    font-size: 1.5em;
    color: #fcfbfb;
}

.btn_submit {
    height: 2.5rem;
    width: 20%;
    font-weight: 600;
    color: rgb(29, 28, 28);
    border: none;
    background: rgb(212, 205, 205);
    border-radius: 0.4rem;
}
.btn_submit:hover {
    background: rgb(236, 232, 232);
}
